@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Roboto:wght@100&display=swap');

body {
    background-color: rgb(255,208,0);
    padding:60px;
    color:khaki;
}

#box {
    background-color:black;
    padding:0 30px 40px 30px;
}



#content {
    font-family: 'Crimson Text', serif;
    font-size: 40px;
    color:khaki;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align:justify;
}

#menu {
    list-style-type: none;      /*ezzel eltüntettem a pontokat a felsorolásból*/
    text-align:center;
    padding:30px;
    height:100px;
   
}

li {
    display: inline;
    font-family: 'Roboto', sans-serif;
}

.point {
   text-decoration: none; 
   font-size: 40px;
   font-family:'Crimson Text', serif;
   border:solid 1px #28A745;
   background: #28A745; 
   border-radius: 8%;
   color:darkslategrey;
   margin:20px;
}

img {
    float: left;
    width: 320px;
    margin-right:15px;
  
}

#arrow {
    width:30px;
    position:absolute;
    right:70px;
}
